@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #303643;

		/* Toolbars */
		--gnome-toolbar-background: #2a2f3a;	
		--gnome-toolbar-color: #b6bcc7;
		--gnome-toolbar-border-color: #1f232b;
		--gnome-inactive-toolbar-background: #3b4252;	
		--gnome-inactive-toolbar-border-color: #22262f;

		/* Sidebar */
		--gnome-sidebar-background: #2a2f3a;
		--gnome-inactive-sidebar-background: #3b4252;

		/* Popups */
		--gnome-menu-background: #2a2f3a;
		--gnome-menu-border-color: #1f232b;
		--gnome-popover-background: #2a2f3a; 
		--gnome-popover-border-color: #1f232b;
		--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--gnome-popover-button-hover-background: #424242;
		--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--gnome-headerbar-background: #2b303c;
		--gnome-headerbar-border-color: #1f232b;
		--gnome-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--gnome-inactive-headerbar-background: #2b303c;
		--gnome-inactive-headerbar-border-color: #22262f;
		--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */	
		--gnome-button-background: #2a2f3a;
		--gnome-button-border-color: #1f232b;
		--gnome-button-border-accent-color: #1f232b;	
		--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-button-hover-background: #4c566a;	
		--gnome-button-active-background: #414a5b;
		--gnome-button-active-border-color: #1f232b;
		--gnome-button-active-border-accent-color: #767f90;
		--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-disabled-background: #2a2f3a;
		--gnome-button-disabled-border-color: #1f232b;
		--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-inactive-button-background: #2a2f3a;
		--gnome-inactive-button-border-color: #1f232b;
		--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-suggested-action-background: #81a1c1;
		--gnome-button-suggested-action-border-color: #5e81ac;
		--gnome-button-suggested-action-border-accent-color: #43648b;
		--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-suggested-action-hover-background: #8eadcc;
		--gnome-button-suggested-action-active-background: #93b2d1;
		--gnome-button-suggested-action-active-border-color: #5e81ac;
		--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-destructive-action-background: #bf616a;
		--gnome-button-destructive-action-border-color: #ac4b54;
		--gnome-button-destructive-action-border-accent-color: #9f3a43;
		--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-destructive-action-hover-background: #cc717a;
		--gnome-button-destructive-action-active-background: #d9868e;
		--gnome-button-destructive-action-active-border-color: #5e81ac;
		--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* Entries */
		--gnome-entry-background: #2e3440;
		--gnome-entry-border-color: #1f232b;
		--gnome-entry-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--gnome-entry-color: #b6bcc7;
		--gnome-inactive-entry-background: #303643;
		--gnome-inactive-entry-border-color: #22262f;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #787e8c;
		--gnome-focused-urlbar-border-color: #373e4c;
		--gnome-private-urlbar-background: #2e3440;

		/* Switch */
		--gnome-switch-background: #4e586d;
		--gnome-switch-border-color: #4e586d;
		--gnome-switch-slider-background: #2e3440;
		--gnome-switch-slider-border-color: #2e3440;
		--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-switch-active-background: #5e81ac;
		--gnome-switch-active-border-color: #5e81ac;
		--gnome-switch-active-slider-border-color: #2e3440;

		/* Tabs */
		--gnome-tabbar-tab-color: #d1d7e2;
		--gnome-tabbar-tab-hover-background: #282d38;
		--gnome-tabbar-tab-hover-border-bottom-color: #282d38;
		--gnome-tabbar-tab-hover-color: #abb1be;
		--gnome-tabbar-tab-active-background: #2e3440;
		--gnome-tabbar-tab-active-background-contrast: #1f232b;
		--gnome-tabbar-tab-active-border-bottom-color: #81a1c1;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #81a1c1;
		--gnome-tabbar-tab-active-color: #d8dee9;
		--gnome-tabbar-tab-active-hover-background: #282d38;
		--gnome-inactive-tabbar-tab-color: #868c9a;
		--gnome-inactive-tabbar-tab-active-background: #3b4252;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: #3b4252;
		--gnome-inactive-tabbar-tab-active-color: #878d9b;  
	}
}
