@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Icons light/dark fix coloring hack filters */
:root {
	--gnome-icons-hack-filter: none;
	--gnome-window-icons-hack-filter: none;
}
@media (prefers-color-scheme: dark) {
	:root {
		--gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%);
		--gnome-window-icons-hack-filter: invert(90%);
	}
}

/* Window buttons */
/*
:root[tabsintitlebar] #titlebar .titlebar-button .toolbarbutton-icon,
:root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton .toolbarbutton-icon {
	filter: var(--gnome-window-icons-hack-filter) !important;
	width: 16px;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-close .toolbarbutton-icon {
	list-style-image: url("moz-icon://stock/window-close-symbolic") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon {
	list-style-image: url("moz-icon://stock/window-maximize-symbolic") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon {
	list-style-image: url("moz-icon://stock/window-restore-symbolic") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
	list-style-image: url("moz-icon://stock/window-minimize-symbolic") !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	list-style-image: url("moz-icon://stock/view-restore-symbolic") !important;
}
*/

/* Toolbars close button */
.close-icon:not(.tab-close-button) {	
	list-style-image: url("moz-icon://stock/window-close-symbolic") !important;
}
.close-icon:not(.tab-close-button) image {
	filter: var(--gnome-window-icons-hack-filter) !important;
}

/* Navbar icons */

/* Back button */
#nav-bar #back-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-previous-symbolic") !important;
}
/* Forward button */
#nav-bar #forward-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-next-symbolic") !important;
}
/* Menu button */
#PanelUI-menu-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/open-menu-symbolic") !important;
}
/* New tab button */
#new-tab-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/tab-new-symbolic") !important;
}
/* Home button */
#home-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/user-home-symbolic") !important;
}
/* Preferences button */
#preferences-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/preferences-system-symbolic") !important;
}
/* Fullscreen button */
#fullscreen-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-fullscreen-symbolic") !important;
}
/* Zoom out button */
#zoom-out-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-out-symbolic") !important;
}
/* Zoom in button */
#zoom-in-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-in-symbolic") !important;
}
/* Developer button */
#developer-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/applications-engineering-symbolic") !important;
}
/* Email link button */
#email-link-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/mail-unread-symbolic") !important;
}
/* Print button */
#print-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/printer-symbolic") !important;
}
/* Addons button */
#add-ons-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/application-x-addon-symbolic") !important;
}
/* Find button */
#find-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-find-symbolic") !important;
}
/* New window button */
#new-window-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-new-symbolic") !important;
}
/* Bookmarks menu button */
#bookmarks-menu-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/starred-symbolic") !important;
}
/* History button */
#history-panelmenu .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/preferences-system-time-symbolic") !important;
}
/* All tabs button */
#alltabs-button {
	list-style-image: url("moz-icon://stock/pan-down-symbolic") !important;
}
#alltabs-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
}
/* Cut button */
#cut-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-cut-symbolic") !important;
}
/* Copy button */
#copy-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-copy-symbolic") !important;
}
/* Paste button */
#paste-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-paste-symbolic") !important;
}

/* Navbar overflow button */
#nav-bar-overflow-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-more-horizontal-symbolic") !important;
}

/* Context back button */	
#context-back .menu-iconic-icon { 
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-previous-symbolic") !important;
}
/* Context forward button */	
#context-forward .menu-iconic-icon { 
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-next-symbolic") !important;
}

/* Main menu buttons icons */
#appMenu-zoomReduce-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-out-symbolic") !important;
}
#appMenu-zoomEnlarge-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-in-symbolic") !important;
}
#appMenu-fullscreen-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-fullscreen-symbolic") !important;
}
#appMenu-cut-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-cut-symbolic") !important;
}
#appMenu-copy-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-copy-symbolic") !important;
}
#appMenu-paste-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/edit-paste-symbolic") !important;
}

